{% extends 'base_back_ranim.html.twig' %}
{% block title %}List Of Events{% endblock %}
{% block body %}


    <table class="table">
        <thead>
            <tr>
               {# <th>Id event</th>#}
                <th>Titre</th>
                <th>Coach</th>
                <th>Type</th>
                <th>Adresse</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Image</th>
                <th>Nombre places reservees</th>
                <th>Nombre places total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
              {#  <td>{{ event.idevent }}</td>#}
                <td>{{ event.titreevent }}</td>
                <td>{{ event.nomcoach }}</td>
                <td>{{ event.typeevent }}</td>
                <td>{{ event.adresseevent }}</td>
                <td>{{ event.prixevent }}</td>
                <td>{{ event.dateevent ? event.dateevent|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.imgevent }}</td>
                <td>{{ event.nombreplacesreservees }}</td>
                <td>{{ event.nombreplacestotal }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'idevent': event.idevent}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'idevent': event.idevent}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">create new</a>
{% endblock %}
