{% extends 'backend/base.html.twig' %}


{# calcul somme des abonnes #}
{% set s=0 %}
 {% for i in type_abonns %}
{% set s=s+i.nb_abonnement %}
{% endfor%}

{% block title %}Type Abonnement{% endblock %}

{% block recherche %}
   <form action="{{ path('search_type_abonn') }}" method="get" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" id="searchInput" name="q" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
</form>
{% endblock %}



 {% block nom %}
 
                         <h1 class="mt-4">Abonnement</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Abonnement</li>
                        </ol> 
                        {% endblock %}

{% block body %}

    <table class="table" border="2" style="width: 60rem;" >
        <thead>
            <tr>
                             <th style="color: #1b95b2">{{ 'Type abonnement'|trans|raw  }}</th>
                             <th style="color: #1b95b2">{{ 'Description'|trans|raw  }}</th>
                             <th style="color: #1b95b2">{{ 'Nombre abonnement'|trans|raw  }}</th>
                            <th style="color: #1b95b2">{{ 'actions'|trans|raw  }}</th>
               
            </tr>
        </thead>
        <tbody id="searchResults">
        {% for type_abonn in type_abonns %}
            <tr>
                <td>{{ type_abonn.type }}</td>
                <td>{{ type_abonn.description }}</td>
                <td>{{ type_abonn.getnb_abonnement() }}</td>

                
                <td>
                    <a href="{{ path('app_type_abonn_show', {'id': type_abonn.id}) }}">show</a>
                    <a href="{{ path('app_type_abonn_edit', {'id': type_abonn.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#searchInput').on('input', function() {
            var query = $(this).val();

            $.ajax({
                type: 'GET',
                url: '{{ path('search_type_abonn') }}',
                data: { q: query },
                success: function(data) {
                    // Update the table with the search results
                    $('#searchResults').html(data);
                }
            });
        });
    });
</script>

<table align="center">
<tr>
    <td> <form action = "{{path('app_type_abonn_new') }}"> <button style="background-color: #1b95b2; color: white;">Create new</button></form></td>
 </tr>

<tr>
    <h5 style="color: #1b95b2"> Le nombre des abonnes total est <span style="color: black;">{{s}}</span></h5>
</tr>
     <tr>
    <h5 style="color: #1b95b2"> Le nombre des abonnements est <span style="color: black;">{{type_abonns|length}}</span></h5>
     </tr>    
</table>

{% endblock %}


                        {% block viewDetails%}

                            {% if app.request.attributes.get('_route') != 'app_type_abonn_index'  %}
                        {% endif %}
                        {% endblock %}
