{% extends 'backend/base.html.twig' %}

{% block title %}TypeAbonn{% endblock %}
 {% block nom %}
 
                         <h1 class="mt-4">Abonnement</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Type abonnement</li>
                        </ol> 
                        {% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            
            <tr>
                <th style="color: #1b95b2">{{ 'Type abonnement'|trans|raw  }}</th>
                <td>{{ type_abonn.type }}</td>
                
            </tr>
            <tr>
                <th style="color: #1b95b2">{{ 'Description'|trans|raw  }}</th>
                <td>{{ type_abonn.description }}</td>
            </tr>

            <tr>
                <th style="color: #1b95b2">{{ 'Nombre abonnement'|trans|raw  }}</th>
                <td>{{ type_abonn.getNbAbonnement() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_abonn_index') }}">back to list</a>

    <a href="{{ path('app_type_abonn_edit', {'id': type_abonn.id}) }}">edit</a>
   
    {{ include('type_abonn/_delete_form.html.twig') }}

{% endblock %}


                {% block viewDetails%}

                            {% if app.request.attributes.get('_route') != 'app_type_abonn_show' %}
                        {% endif %}
                        {% endblock %}
