{% extends 'base_front_ranim.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    {% block table %}
        <table class="table">
            <thead>
                <tr>
                    {# <th>Idpart</th> #}
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Ntel</th>
                    <th>Datepart</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for participation in participations %}
                <tr>
                    {# <td>{{ participation.idpart }}</td> #}
                    <td>{{ participation.nom }}</td>
                    <td>{{ participation.prenom }}</td>
                    <td>{{ participation.ntel }}</td>
                    <td>{{ participation.datepart ? participation.datepart|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_participation_show', {'idpart': participation.idpart}) }}" class="btn btn-info">Show</a>
                        {#<a href="{{ path('app_participation_edit', {'idpart': participation.idpart}) }}" class="btn btn-warning">edit</a>#}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    <a href="{{ path('app_participation_new') }}" class="btn btn-success">Create New</a>
{% endblock %}
