<!DOCTYPE html>

<title>Participation index</title>

{% block body %}
    <h1>Participation index</h1>

    {%block table%}
        <thead>
            <tr>
                <th>Idpart</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Ntel</th>
                <th>Datepart</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.idpart }}</td>
                <td>{{ participation.nom }}</td>
                <td>{{ participation.prenom }}</td>
                <td>{{ participation.ntel }}</td>
                <td>{{ participation.datepart ? participation.datepart|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_participation_show', {'idpart': participation.idpart}) }}">show</a>
                    <a href="{{ path('app_participation_edit', {'idpart': participation.idpart}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
   {%endblock%}

    <a href="{{ path('app_participation_new') }}">Create new</a>
{% endblock %}
