{% extends "base_front_ayari.html.twig" %}
{% block title %}Commande index{% endblock %} 
{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Adresse</th>
                <th>Type</th>
                <th>User Email</th>
                <th>Produits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                <td>{{ commande.adresse }}</td>
                <td>{{ commande.type }}</td>
                <td>{{ commande.iduser.email }}</td>
                <td>
                    {% for produit in commande.getCommandeProduits() %}
                        <img src="{{ asset('uploads/images/' ~ produit.Produits.image) }}" alt="{{ produit.Produits.titre }}" style="max-width: 50px; max-height: 50px;">
                        {{ produit.Produits.image }}<br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>
{% endblock %}
