{% extends "base_front_hssan.html.twig" %}
{% block title %}Commande index{% endblock %} 
{% block body %}
    <div class="container">
        <h1 class="text-center mt-4 mb-4">Commande Index</h1>

        <table class="table table-bordered table-striped text-center">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Date</th>
                    <th>Adresse</th>
                    <th>Type</th>
                    <th>User Email</th>
                    <th>Produits</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                        <td>{{ commande.adresse }}</td>
                        <td>{{ commande.type }}</td>
                        <td>{{ commande.iduser.email }}</td>
                        <td>
                            {% for produit in commande.getCommandeProduits() %}
                                <img src="{{ asset('uploads/images/' ~ produit.Produits.image) }}" alt="{{ produit.Produits.titre }}" style="max-width: 50px; max-height: 50px;">
                                {{ produit.Produits.image }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('app_commande_show', {'id': commande.id}) }}" class="btn btn-info btn-sm">Show</a>
                            <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                              <a href="{{ path('app_pdf', {'id': commande.id}) }}" style="color: #336699; margin-left: 20px;">PDF</a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_commande_new') }}" class="btn btn-success">Create New Commande</a>
    </div>
{% endblock %}
