{% extends "base_back_ayari.html.twig" %}

{% block title %}CategorieMagasin index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">CategorieMagasin index</h1>

        <table class="table table-bordered mx-auto">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Categorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for categorie_magasin in categorie_magasins %}
                    <tr>
                        <td>{{ categorie_magasin.id }}</td>
                        <td>{{ categorie_magasin.categorie }}</td>
                        <td>
                            <a href="{{ path('app_categorie_magasin_show', {'id': categorie_magasin.id}) }}" class="btn btn-primary">Show</a>
                            <a href="{{ path('app_categorie_magasin_edit', {'id': categorie_magasin.id}) }}" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_categorie_magasin_new') }}" class="btn btn-success d-block mx-auto mt-3">Create new</a>
    </div>
{% endblock %}
