{% extends 'base_Front_chayma.html.twig' %}

{% block title %}ReservationOffer {% endblock %}

{% block affichOffer %}
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Our <em>Offer</em></h2>
                        <img src="{{asset('FrontOffice/images/line-dec.png')}}" alt=""> 
                        <p>Profiter de notre special offers et devenir membre</p>
                    </div>
                </div>
            </div>

            <div class="row" id="tabs">
                <div class="col-lg-4">
                    <ul>
                        {% for offer in offers %}
                            <li><a href='#tabs-{{ loop.index }}'><img src="{{asset('FrontOffice/images/tabs-first-icon.png')}}" alt="">{{ offer.titleoffer }}</a></li>
                        {% endfor %}
                        <div class="main-rounded-button"><a href="#">View All Schedules</a></div>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <section class='tabs-content'>
                        {% for offer in offers %}
                            <article id='tabs-{{ loop.index }}'>
                                <img class="offer-image" style="max-width: 100%; height: auto; width: 100%;" src="{{ vich_uploader_asset(offer, 'imageFile') }}" alt="">
                                <h4 style="color: #1b95b2">{{ offer.titleoffer }}</h4>
                                <p><strong>Description:</strong><span style="margin-left: 20px;">{{ offer.descriptionoffer }}</p>
                                <p><strong>Date Debut Offer:</strong><span style="margin-left: 20px;">{{ offer.datedeboffer ? offer.datedeboffer|date('Y-m-d') : '' }}</p>
                                <p><strong>Date Fin Offer :</strong><span style="margin-left: 20px;">{{ offer.datefinoffer ? offer.datefinoffer|date('Y-m-d') : '' }}</p>
                                <p><strong>Prix:</strong><span style="margin-left: 20px;">{{ offer.prix }}</p>
                                <div class="main-button" ><a style="background-color: #1b95b2; color: white;" href="{{ path('new_reservation_offer', {'id': offer.idoffer}) }}">Reserver</a></div>

                            </article>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{# {% block body %}
    <h1>ReservationOffer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idreservation</th>
                <th>Datereservation</th>
                <th>Codepromo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_offer in reservation_offers %}
            <tr>
                <td>{{ reservation_offer.idreservation }}</td>
                <td>{{ reservation_offer.datereservation ? reservation_offer.datereservation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation_offer.codepromo }}</td>
                <td>
                    <a href="{{ path('app_reservation_offer_show', {'idreservation': reservation_offer.idreservation}) }}">show</a>
                    <a href="{{ path('app_reservation_offer_edit', {'idreservation': reservation_offer.idreservation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_offer_new') }}">Create new</a>
{% endblock %} #}
