{%extends "base_back_asma.html.twig"%}
 {% block title %} index{% endblock %}

{% block body %}
    <h1>Post index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>idpost</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.idPost }}</td>
                <td>{{ post.description }}</td>
              <td>
                    {% if post.image %}
                        <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="{{ post.description }}" style="max-width: 50px; max-height: 50px;">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_post_show', {'idPost': post.idPost}) }}" class="btn btn-info">Show</a>
                        <a href="{{ path('app_post_edit', {'idPost': post.idPost}) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
