{% extends 'base.html.twig' %}

{% block title %}Activites{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Activites Index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Categorie</th>
                <th>DateDeb</th>
                <th>DateFin</th>
                <th>Description</th>
                <th>Salle</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for activite in activites %}
                <tr>
                    <td>{{ activite.code }}</td>
                    <td>{{ activite.categorie }}</td>
                    <td>{{ activite.dateDeb ? activite.dateDeb|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ activite.dateFin ? activite.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ activite.description }}</td>
                    <td>{{ activite.salle }}</td>
                    <td>{{ activite.titre }}</td>
                    <td>
                        <a href="{{ path('app_activites_show', {'code': activite.code}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_activites_edit', {'code': activite.code}) }}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_activites_new') }}" class="btn btn-primary">Create New</a>
    </div>
{% endblock %}
