{% extends 'base_back_hssan.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ users.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ users.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ users.prenom }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ users.mdp }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ users.role }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ users.email }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ users.img }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ users.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': users.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
